@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header, main, footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

/*Шапка, главная, каталог*/

.page-header {
  color:#000000;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color:#000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current {
  width: 100px;
  height: 64px;
}

.navigation-link-detailed {
  width: 114px;
  height: 64px;
}

.navigation-link-catalog{
  width: 125px;
  height: 64px;
}

.navigation-link-current2 {
  width: 100px;
  height: 64px;
}

.navigation-link-catalog2 {
  width: 125px;
  height: 64px;
}

.navigation-user-link-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
}

.navigation-user-link-favourites {
  background-image: url(../images/heart12.svg);
  background-repeat: no-repeat;
}

.header-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 14px 70px 14px 20px;
  align-content: center;
}

.navigation {
  height: 64px;
  display: flex;
}

.navigation-logo-link {
  margin-left: 70px;
  margin-right: 30px;
  position: relative;
}

.navigation-list {
  display: flex;
  min-width: 339px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  min-width: 88px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  flex-wrap: wrap;
}

.navigation-user-item {
  width: 44px;
}

/*Welcome*/

.welcome {
  width: 1200px;
  height: 767px;
}

.welcome-img {
display: block;
margin: 0 auto;
padding-top: 51px;
}

/*Welcome-изображение*/

.welcome-images {
  width: 1200px;
  height: 485px;
  background-color: #000000;
  background-image: url(../images/welcome-background-divider.png), url(../images/welcome-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

/*Welcome-текст*/

.welcome-text {
  width: 1200px;
  min-height: 261px;
}

.welcome-text-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 25px;
}

.welcome-text-body {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  max-width: 651px;
  margin: 0 auto;
}

/*Преемущества*/

.advantages {
  min-height: 1155px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-text-container {
  width: 400px;
  min-height: 385px;
  flex-grow: 1;
}

.advantages-img {
  flex-grow: 1;
}

.advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-text-center {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-title-light {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
  height: 385px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

/*Приезжайте*/

.come {
  width: 1200px;
  min-height: 246px;
}

.come-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
}

.come-heading-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  max-width: 490px;
  margin: 0 auto;

}

/*Сервис*/

.servise {
  width: 1200px;
  min-height: 385px;
}

.servise-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servise-item-house {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  text-align: center;
}

.servise-item-meal {
  width: 400px;
  height: 385px;
  text-align: center;
}

.servise-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  text-align: center;
}

.servise-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.servise-description {
  font-weight: 400;
  color: #333333;
}

.servise-item {
flex-grow: 1;
}

/*Заинтересовались*/

.search {
  text-align: center;
  width: 1200px;
  height: 486px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  max-width: 592px;
  margin: 0 auto;
  padding-bottom: 54px;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 8px 50px;
  width: 276px;
  height: 36px;
  border: none;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*Подпишитесь на рассылку, главная*/

.subscribe {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
  min-height: 415px;
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 404px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height:26px;
  text-align: center;
  max-width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;

}

.subscribe-form-name{
  margin: 0;
}

.e-mail {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  width: 87px;
  height: 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
  padding: 0;
}

.e-mail[type="text"] {
  padding: 14px 345px 14px 20px;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  border: none;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/*Футер*/

.page-footer {
  width: 1200px;
  min-height: 120px;
  display: flex;
}

.page-footer-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 41px;
  padding-top: 45px;
  flex-wrap: wrap;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 720px;
  padding-top: 45px;
}

.copyright {
  margin-right: 40px;
  padding-top: 48px;
}

.vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
}

.telegram {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
}

/*Фильтр, каталог*/

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  flex-wrap: wrap;
  height: 412px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-link-main {
  background-image: url(../images/home-breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-infrastructure-title, .filter-catalog-title, .filter-cost-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.control {
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.button-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: 0;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: 0;
  padding: 8px auto;
  width: 191px;
  height: 36px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-header-container {
  width: 1060px;
  min-height: 107px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}

.filter-infrastructure {
  width: 1060px;
  min-height: 160px;
  display: flex;
}

.filter-infrastructure-group {
  display: flex;
  margin: 0 70px 3px 70px;
  padding: 0;
  width: 150px;
  min-height: 157px;
  border: 0;
  flex-direction: column;
}

.filter-infrastructure-title {
  display: flex;
  flex-grow: 1;
  padding: 0;
}

.filter-catalog-group {
  display: flex;
  margin: 0 140px 3px 0;
  padding: 0;
  width: 150px;
  min-height: 157px;
  border: 0;
  flex-direction: column;
}

.filter-cost-group {
  margin: 0;
  padding: 0;
  width: 288px;
  height: 160px;
  margin-right: 70px;
}

.filter-infrastructure-list {
  margin: 0;
  padding: 0;
}

.filter-button-container {
  width: 191px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

/*блок гостиницы*/

/*Найдено гостиниц, вид отображения*/

.sorting-title-container {
  width: 1060px;
  min-height: 49px;
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  }

.sorting-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  align-content: center;
  width: 338px;
}

.select-control {
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  color: #333333;
  display: block;
  width: 292px;
  height: 49px;
  margin: auto 70px auto 0;
}

.button-view {
  width: 160px;
  min-height: 48px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.button-view-tile {
  background-image: url(../images/variant-tile.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.button-view-card {
  background-image: url(../images/variant-cards.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

.button-view-list {
  background-image: url(../images/variant-list.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
}

/*найденные отели, картинки*/

.hotels-card-linl, .hotels-card-button, .add-favorites-button, .favorites-button {
  text-decoration: none;
}

.hotels-card-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotels-card-type, .hotels-card-price {
  font-weight: 400;
  color: #333333;
}

.hotels-card-price {
  text-align: right;
}

.hotels-card-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 26px;
  width: 140px;
  height: 36px;
  background-color: #756157;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.add-favorites-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 20px;
  width: 140px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.favorites-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 18px;
  width: 140px;
  height: 36px;
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.hotels-card-stars {
  width: 140px;
  height: 37px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.hotels-card-stars-4 {
  width: 140px;
  height: 37px;
  background-image: url(../images/star.svg), url(../images/star.svg), url(../images/star.svg), url(../images/star.svg);
  background-size: 18px 17px, 18px 17px, 18px 17px, 18px 17px;
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px;
}

.hotels-card-stars-3 {
  width: 140px;
  height: 37px;
  background-image: url(../images/star.svg), url(../images/star.svg), url(../images/star.svg);
  background-size: 18px 17px, 18px 17px, 18px 17px;
  background-position: 0 10px, 24px 10px, 48px 10px;
}

.hotels-card-stars-2 {
  width: 140px;
  height: 37px;
  background-image: url(../images/star.svg), url(../images/star.svg);
  background-size: 18px 17px, 18px 17px;
  background-position: 0 10px, 24px 10px;
}

.hotels-card-rating {
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  width: calc(140px - 22px - 23px);
  height: calc(37px - 9px - 8px);
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  margin: 0;
}

.hotels-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

/*Пагинация*/

.pagination-container {
  display: flex;
  width: 1060px;
  min-height: 60px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 400px;
  min-height: 60px;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

/*Подпишитесь на рассылку, каталог*/

.subscribe-inner {
  width: 1200px;
  height: 415px;
}

.subscribe-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 404px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe-inner-text {
  font-weight: 400;
  font-size: 22px;
  line-height:26px;
  text-align: center;
  color: #333333;
  max-width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
}
